.root {
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: var(--wp-spacing-3, 8px);
}

.label {
  min-height: 24px;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--wp-spacing-3, 8px);
}
