.root {
  border-radius: var(--wp-tag-rounding, var(--wp-theme-rounding));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--wp-tag-gap, 6px);
}

.small {
  padding: var(--wp-tag-padding-sm, 4px);
}
.medium {
  padding: var(--wp-tag-padding-md, 6px);
}
.large {
  padding: var(--wp-tag-padding-lg, 8px);
}

.close {
  cursor: pointer;
}
