/* $breakpointSm: 576px;
$breakpointMd: 768px;
$breakpointLg: 992px;
$breakpointXl: 1200px; */

.col {
  grid-column: span var(--col-size) / span var(--col-size);
}

.colFluid {
  grid-column: 1 / -1;
}

@media (min-width: 576px) {
  .colSm {
    grid-column: span var(--col-size-sm) / span var(--col-size-sm);
  }

  .colFluidSm {
    grid-column: 1 / -1;
  }
}

@media (min-width: 768px) {
  .colMd {
    grid-column: span var(--col-size-md) / span var(--col-size-md);
  }

  .colFluidMd {
    grid-column: 1 / -1;
  }
}

@media (min-width: 992px) {
  .colLg {
    grid-column: span var(--col-size-lg) / span var(--col-size-lg);
  }

  .colFluidLg {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1200px) {
  .colXl {
    grid-column: span var(--col-size-xl) / span var(--col-size-xl);
  }

  .colFluidXl {
    grid-column: 1 / -1;
  }
}
