.root {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sm {
  height: 0.75rem;
  width: 0.75rem;
}

.md {
  height: 1rem;
  width: 1rem;
}

.lg {
  height: 1.5rem;
  width: 1.5rem;
}

.customSize {
  height: var(--w);
  width: var(--w);
}

.circle1 {
  opacity: 0.25;
}

.circle2 {
  opacity: 0.75;
}
