@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

html body,
html[data-theme="light"] {
  background-color: white !important;
}

html[data-theme="dark"] body {
  background-color: rgb(51, 51, 51) !important;
}

body .sbdocs {
  font-family: inherit;
}
