.root {
  box-shadow: var(--wp-appbar-shadow, 0px 4px 4px rgba(0, 0, 0, 0.06));
  background-color: var(
    --wp-appbar-bg-color,
    var(--wp-theme-color-white, #fff)
  );
}

.small {
  padding: var(--wp-appbar-padding-small, 8px 16px);
}
.medium {
  padding: var(--wp-appbar-padding-medium, 12px 16px);
}
.large {
  padding: var(--wp-appbar-padding-large, 16px 16px);
}
