.root {
  border-top: 1px solid var(--wp-color-separator, var(--wp-theme-color-grey-10));
  height: 0;
}

.marginXs {
  margin-top: var(--wp-spacing-1);
  margin-bottom: var(--wp-spacing-1);
}

.marginSm {
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}

.marginMd {
  margin-top: var(--wp-spacing-4);
  margin-bottom: var(--wp-spacing-4);
}

.marginLg {
  margin-top: var(--wp-spacing-6);
  margin-bottom: var(--wp-spacing-6);
}
