.margin {
  margin-top: var(--wp-form-row-margin-y, var(--wp-spacing-8));
  margin-bottom: var(--wp-form-row-margin-y, var(--wp-spacing-8));
}

.inline {
  display: flex;
  gap: calc(var(--wp-margin-unit, 4px) * var(--gap));
}

@media (min-width: 576px) {
  .inlineSm {
    display: flex;
    gap: calc(var(--wp-margin-unit, 4px) * var(--gap));
  }
}

@media (min-width: 768px) {
  .inlineMd {
    display: flex;
    gap: calc(var(--wp-margin-unit, 4px) * var(--gap));
  }
}

@media (min-width: 992px) {
  .inlineLg {
    display: flex;
    gap: calc(var(--wp-margin-unit, 4px) * var(--gap));
  }
}

@media (min-width: 1200px) {
  .inlineXl {
    display: flex;
    gap: calc(var(--wp-margin-unit, 4px) * var(--gap));
  }
}

.fullWidth {
  width: 100%;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.itemsCenter {
  align-items: center;
}

.itemsEnd {
  align-items: flex-end;
}
