.root {
}

.step {
  min-width: 100px !important;
}

.step:before {
  height: 2px !important;
  width: 78% !important;
  @apply !bg-grey-10;
}

.step:after {
  width: 2.5rem !important;
  height: 2.5rem !important;
  @apply !bg-grey-10;
}

.stepPrimary:after {
  @apply !bg-primary;
}

.label {
  @apply mx-4;
}

.labelNext {
  opacity: 0.5;
}
