.control {
  padding: 20px 8px;
  border-radius: 4px;
  text-align: center;
  border: 2px var(--color-border-input, #e5e7eb) dashed;
  cursor: pointer;
}
.error {
  border-color: var(--color-error);
}
