.root {
}

.input {
  width: 100%;
  border: none;
  flex: 1;
}

.input::placeholder {
  color: var(--wp-input-placeholder-color, var(--wp-theme-color-grey-50));
}

.input:focus-visible {
  outline: none;
}

.option {
  display: flex;
  align-items: center;
  padding: var(--wp-spacing-2) var(--wp-spacing-4);
  cursor: pointer;
}

.option:hover {
  background-color: var(--wp-select-option-hover, #f0f0f0);
}

.option input[type="checkbox"] {
  margin-right: var(--wp-spacing-2);
}

.emptyOptionsContent {
  padding: var(--wp-spacing-2) var(--wp-spacing-4);
}
