.root {
  overflow-y: visible;
}

.tableContainer {
  min-width: 100%;
  max-width: 100%;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  min-width: 100%;
  background-color: var(--wp-theme-color-paper);
}

.th {
  text-align: left;
  padding-left: 0;
  padding-right: 0;
}

.colWidth {
  min-width: calc(var(--wp-base-column-width, 100px) * var(--w-factor));
}

.colCustomWidth {
  min-width: var(--custom-w);
}

.headerContainer {
  margin-bottom: var(--wp-spacing-2);
  padding-top: var(--wp-spacing-2-5);
  padding-bottom: var(--wp-spacing-2-5);
  border-bottom: 1px solid var(--wp-theme-color-grey-20);
}

.gridVertical {
  border-left: 1px solid var(--wp-theme-color-grey-20);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  height: 24px;
}

.text {
  width: 100%;
}

.filterContainer {
  height: 100%;
}

.notFirstTitle {
  padding: var(--wp-spacing-0-5) var(--wp-spacing-2-5);
}

.notLastTitle {
  padding: var(--wp-spacing-0-5) var(--wp-spacing-2-5);
}

.headerSorting {
}

.td {
  padding: var(--wp-spacing-2-5);
  position: relative;
}

.row {
}

.row:hover {
  background-color: var(--wp-theme-color-grey-10);
}

.oddRow {
}

.oddRow:hover {
  background-color: var(--wp-theme-color-grey-20);
}

.evenRow {
  background-color: var(--wp-theme-color-grey-10);
  border-bottom: 1px solid var(--wp-theme-color-grey-20);
}

.evenRow:hover {
  background-color: var(--wp-theme-color-grey-20);
}

.colGridVertical {
  border-left: 1px solid var(--wp-theme-color-grey-20);
}

.rowGridHorizontal {
  border-bottom: 1px solid var(--wp-theme-color-grey-20);
}

.colLeft {
  text-align: left;
}

.colCenter {
  text-align: center;
}

.colRight {
  text-align: right;
}

.headerColLeft {
  justify-content: flex-start;
}

.headerColCenter {
  justify-content: center;
}

.headerColRight {
  justify-content: flex-end;
}

.cellBorderLeft::before {
  position: absolute;
  top: 6px;
  left: 0;
  height: calc(100% - 12px);
  content: "";
  border-left: 1px solid var(--wp-theme-color-grey-20);
}

.cellBorderRight::after {
  position: absolute;
  top: 6px;
  right: 0;
  height: calc(100% - 12px);
  content: "";
  border-right: 1px solid var(--wp-theme-color-grey-20);
}

@media not all and (min-width: 1024px) {
  .actionsCell {
    padding: 0px;
  }
}
.actionsCell {
  position: sticky;
  right: 0;
  background-color: var(--wp-theme-color-paper);
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: var(--wp-spacing-4);
  margin-bottom: var(--wp-spacing-4);
}

.rowClickable {
  cursor: pointer;
}

.rowSelected {
  background-color: var(
    --wp-table-row-selected-color,
    var(--wp-theme-color-grey-10)
  );
}

/*// todo might move to own component */
