.root {
  height: 1.2em;
  display: block;
  background-color: var(--wp-theme-color-skeleton);
}

.circle {
  border-radius: 50%;
}
.rect {
}
.text {
  height: auto;
  transform: scale(1, 0.6);
  margin-top: 0;
  border-radius: 0;
  margin-bottom: 0;
  transform-origin: 0 60%;
}

.text:empty:before {
  content: "\00a0";
}

/* ANIMATIONS */
.wave {
  position: relative;
  overflow: hidden;
}
.wave::after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  animation: skeleton-wave 1.6s linear 0.5s infinite;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    var(--wp-theme-color-skeleton),
    transparent
  );
}

.pulse {
  animation: skeleton-pulse 1.5s ease-in-out 0.5s infinite;
}

@keyframes skeleton-wave {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes skeleton-pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
