.drawerShadow {
  opacity: 0;
  inset: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: var(--wp-theme-shadow-modal, rgba(0, 0, 0, 0.5));
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.drawerShadowOpen {
  opacity: 1;
}

.drawerBody {
  position: fixed;
  overflow: hidden;
  inset: 0;
  transform: translateX(0);
  transition: all 500ms ease-in-out;
  z-index: 999;
}

.drawerLeftBody {
  transform: translateX(-min(100vw, var(--max-w, 640px)));
  transform: translateX(-100%);
  left: 0;
  top: 0;
}

.drawerLeftBodyOpen {
  transform: translateX(0);
}

.drawerRightBody {
  transform: translateX(100%);
  right: 0;
  top: 0;
}

.drawerRightBodyOpen {
  transform: translateX(calc(100vw - min(100vw, var(--max-w, 640px))));
}

.drawerTopBody {
  transform: translateY(-100%);
  top: 0;
  left: 0;
}

.drawerTopBodyOpen {
  transform: translateY(0);
}

.drawerBottomBody {
  transform: translateY(100%);
  bottom: 0;
  left: 0;
}

.drawerBottomBodyOpen {
  transform: translateY(0);
}

.drawerContent {
  width: min(100vw, var(--max-w, 640px));
  height: 100vh;
  position: absolute;
  background-color: #fff;
}

.drawerInner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
