.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--wp-spacing-4);
}

.close {
  background-color: transparent;
  background-image: none;
  border: none;
  cursor: pointer;
}
