.root {
  display: inline-grid;
  grid-auto-flow: column;
  overflow: hidden;
  overflow-x: auto;
  counter-reset: step;
  grid-auto-columns: 1fr;
  padding: 0;
  list-style: none;
}

.fullWidth {
  width: 100%;
}

.step {
  min-width: 100px;
  grid-template-columns: auto;
  display: grid;
  grid-template-rows: 40px 1fr;
  place-items: center;
  text-align: center;
  position: relative;
}

.step:after {
  content: counter(step);
  counter-increment: step;
  z-index: 1;
  position: relative;
  display: grid;
  width: 2.5rem;
  height: 2.5rem;
  place-items: center;
  place-self: center;
  border-radius: 9999px;
  background-color: var(--wp-theme-color-grey-10);
}

.stepConnector {
}

.stepConnector:before {
  top: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  content: "";
  margin-left: -100%;
  height: 2px;
  width: 78%;
  background-color: var(--wp-theme-color-grey-10);
  position: absolute;
  top: calc(50% - 1px);
}

.stepPrimary:before {
  background-color: var(--wp-theme-color-primary);
}

.stepPrimary:after {
  background-color: var(--wp-theme-color-primary);
  color: var(--wp-theme-color-primary-contrast);
}

.label {
  padding-left: var(--wp-spacing-8);
  padding-right: var(--wp-spacing-8);
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
  text-align: center;
}

.labelNext {
  opacity: 0.5;
}
