.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  flex: 1;
}

.control {
  margin-left: 10px;
}
