.editorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--wp-spacing-4);
}

.optionItem {
  display: flex;
  align-items: center;
  margin-bottom: var(--wp-spacing-3);
  padding: var(--wp-spacing-2);
  width: 100%;
}

.removeControl {
  margin-left: var(--wp-spacing-2);
  cursor: pointer;
}

.addControl {
  cursor: pointer;
  margin-top: var(--wp-spacing-2);
}

.uploadButton {
  display: none;
}

.uploadLabel {
  cursor: pointer;
  background-color: #f0f0f0;
  padding: 6px 8px;
  border-radius: 4px;
  margin-right: 8px;
}

.dragHandleIcon {
  cursor: grab;
  color: #6c757d;
  margin-right: 8px;
}
