.root {
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  --header-h: 83px;
}

.header {
}

.content {
  display: flex;
  flex: 1;
  max-height: calc(100svh - var(--header-h));
}

@media not all and (min-width: 1024px) {
  .sidebar {
    position: absolute;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    isolation: isolate;
    z-index: 6;
    width: 100%;
    height: calc(100svh - var(--header-h));
  }
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.main {
  flex: 1;
}

.footer {
}
