.root {
  @apply relative shrink-0 inline-block;
}

.label {
  background-size: cover;
  background-position: 50%;
  font-weight: 600;
  @apply rounded-[50%] flex w-[45px] h-[45px] uppercase items-center justify-center;
}
