.root {
}

.tabs {
  display: flex;
  align-items: flex-end;
  overflow: auto;
}

.center {
  justify-content: center;
}

.tab {
  padding-left: var(--wp-spacing-8);
  padding-right: var(--wp-spacing-8);
  padding-top: var(--wp-spacing-1);
  padding-bottom: var(--wp-spacing-1);
  border-color: var(--wp-theme-color-grey-10);
  border-bottom-style: solid;
  border-bottom-width: calc(var(--wp-tabs-tab-border, 1px) + 1px);
  display: inline-flex;
  cursor: pointer;
  user-select: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: var(--wp-theme-color-grey-60);
}

.tab:hover {
  color: var(--wp-theme-color-dark);
}

.tab.error {
  color: var(--wp-theme-color-error-light);
}

.tabSelected {
  border-color: var(--wp-theme-color-primary);
  color: var(--wp-theme-color-dark);
}

.tabSelected.error {
  color: var(--wp-theme-color-error);
  border-color: var(--wp-theme-color-error);
}

.tabFullWidth {
  flex: 1 1 100%;
}

.tabContent {
  padding-top: var(--wp-spacing-2);
  padding-bottom: var(--wp-spacing-2);
}

.hidden {
  display: none;
}

.error {
}

.errorIcon {
  display: inline-block;
  stroke: currentColor;
  width: 1.125rem;
  height: 1.125rem;
  margin-left: var(--wp-spacing-2);
}
