.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--color);
}

.col {
  display: flex;
  gap: var(--wp-spacing-4);
}

.small {
  padding: var(--wp-spacing-2) var(--wp-spacing-2);
}

.medium {
  padding: var(--wp-spacing-3) var(--wp-spacing-3);
}

.large {
  padding: var(--wp-spacing-4) var(--wp-spacing-4);
}
