.root {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-3);
}

.icon {
  color: var(--bg);
  width: var(--icon-size);
  height: var(--icon-size);
  min-width: var(--icon-size);
  min-height: var(--icon-size);
  max-width: var(--icon-size);
  max-height: var(--icon-size);
}
