.mainColumn {
  margin-left: calc(var(--wp-spacing-4) * var(--l));
  cursor: pointer;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.mainColumnContent {
  margin-left: var(--wp-spacing-2);
}

.iconContainer {
  padding-top: var(--wp-spacing-2);
  padding-bottom: var(--wp-spacing-2);
  padding-right: var(--wp-spacing-2);
  display: flex;
  align-items: center;
  min-width: var(--wp-spacing-4);
}

.icon {
  transition: transform 0.5s ease-out;
  transform: rotate(0deg);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.iconExpanded {
  transform: rotate(90deg);
}


