.root {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.textColor {
  color: var(--text-color);
}
.bgColor {
  background-color: var(--bg-color);
}

.mt {
  margin-top: calc(var(--wp-margin-unit, 4px) * var(--mt));
}

.mb {
  margin-bottom: calc(var(--wp-margin-unit, 4px) * var(--mb));
}

.ml {
  margin-left: calc(var(--wp-margin-unit, 4px) * var(--ml));
}

.mr {
  margin-right: calc(var(--wp-margin-unit, 4px) * var(--mr));
}

.pt {
  padding-top: calc(var(--wp-margin-unit, 4px) * var(--pt));
}

.pb {
  padding-bottom: calc(var(--wp-margin-unit, 4px) * var(--pb));
}

.pl {
  padding-left: calc(var(--wp-margin-unit, 4px) * var(--pl));
}

.pr {
  padding-right: calc(var(--wp-margin-unit, 4px) * var(--pr));
}

.min-h-screen {
  min-height: 100vh;
}

.text-h1 {
  font-size: var(--wp-theme-text-h1-s);
  line-height: var(--wp-theme-text-h1-h);
  font-family: var(--wp-theme-text-h1-f, var(--wp-theme-font-default));
  font-weight: var(--wp-theme-text-h1-w, var(--wp-theme-font-weight-default));
}
.text-h2 {
  font-size: var(--wp-theme-text-h2-s);
  line-height: var(--wp-theme-text-h2-h);
  font-family: var(--wp-theme-text-h2-f, var(--wp-theme-font-default));
  font-weight: var(--wp-theme-text-h2-w, var(--wp-theme-font-weight-default));
}
.text-h3 {
  font-size: var(--wp-theme-text-h3-s);
  line-height: var(--wp-theme-text-h3-h);
  font-family: var(--wp-theme-text-h3-f, var(--wp-theme-font-default));
  font-weight: var(--wp-theme-text-h3-w, var(--wp-theme-font-weight-default));
}
.text-h4 {
  font-size: var(--wp-theme-text-h4-s);
  line-height: var(--wp-theme-text-h4-h);
  font-family: var(--wp-theme-text-h4-f, var(--wp-theme-font-default));
  font-weight: var(--wp-theme-text-h4-w, var(--wp-theme-font-weight-default));
}
.text-h5 {
  font-size: var(--wp-theme-text-h5-s);
  line-height: var(--wp-theme-text-h5-h);
  font-family: var(--wp-theme-text-h5-f, var(--wp-theme-font-default));
  font-weight: var(--wp-theme-text-h5-w, var(--wp-theme-font-weight-default));
}
.text-h6 {
  font-size: var(--wp-theme-text-h6-s);
  line-height: var(--wp-theme-text-h6-h);
  font-family: var(--wp-theme-text-h6-f, var(--wp-theme-font-default));
  font-weight: var(--wp-theme-text-h6-w, var(--wp-theme-font-weight-default));
}
.text-body1 {
  font-size: var(--wp-theme-text-body1-s);
  line-height: var(--wp-theme-text-body1-h);
  font-family: var(--wp-theme-text-body1-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-body1-w,
    var(--wp-theme-font-weight-default)
  );
}
.text-body2 {
  font-size: var(--wp-theme-text-body2-s);
  line-height: var(--wp-theme-text-body2-h);
  font-family: var(--wp-theme-text-body2-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-body2-w,
    var(--wp-theme-font-weight-default)
  );
}
.text-body3 {
  font-size: var(--wp-theme-text-body3-s);
  line-height: var(--wp-theme-text-body3-h);
  font-family: var(--wp-theme-text-body3-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-body3-w,
    var(--wp-theme-font-weight-default)
  );
}

.text-caption1 {
  font-size: var(--wp-theme-text-caption1-s);
  line-height: var(--wp-theme-text-caption1-h);
  font-family: var(--wp-theme-text-caption1-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-caption1-w,
    var(--wp-theme-font-weight-default)
  );
}
.text-caption2 {
  font-size: var(--wp-theme-text-caption2-s);
  line-height: var(--wp-theme-text-caption2-h);
  font-family: var(--wp-theme-text-caption2-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-caption2-w,
    var(--wp-theme-font-weight-default)
  );
}
.text-caption3 {
  font-size: var(--wp-theme-text-caption3-s);
  line-height: var(--wp-theme-text-caption3-h);
  font-family: var(--wp-theme-text-caption3-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-caption3-w,
    var(--wp-theme-font-weight-default)
  );
}

.text-label1 {
  font-size: var(--wp-theme-text-label1-s);
  line-height: var(--wp-theme-text-label1-h);
  font-family: var(--wp-theme-text-label1-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-label1-w,
    var(--wp-theme-font-weight-default)
  );
  color: var(--wp-theme-text-label1-c, var(--wp-theme-color-grey-60));
}

.text-label2 {
  font-size: var(--wp-theme-text-label2-s);
  line-height: var(--wp-theme-text-label2-h);
  font-family: var(--wp-theme-text-label2-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-label2-w,
    var(--wp-theme-font-weight-default)
  );
  color: var(--wp-theme-text-label2-c, var(--wp-theme-color-grey-60));
}

.text-label3 {
  font-size: var(--wp-theme-text-label3-s);
  line-height: var(--wp-theme-text-label3-h);
  font-family: var(--wp-theme-text-label3-f, var(--wp-theme-font-default));
  font-weight: var(
    --wp-theme-text-label3-w,
    var(--wp-theme-font-weight-default)
  );
  color: var(--wp-theme-text-label3-c, var(--wp-theme-color-grey-60));
}

.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.underline {
  text-decoration: underline;
}
.italic {
  font-style: italic;
}

.textNormal {
  font-weight: var(--wp-theme-font-weight-default);
}

.textBold {
  font-weight: var(--wp-theme-font-weight-bold);
}

.textBolder {
  font-weight: var(--wp-theme-font-weight-bolder);
}

.textLight {
  font-weight: var(--wp-theme-font-weight-light);
}

.textLighter {
  font-weight: var(--wp-theme-font-weight-lighter);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}
