.root {
  width: var(--wp-sidebar-width, 120px);
  padding-top: var(--wp-sidebar-padding-x, 16px);
  padding-bottom: var(--wp-sidebar-padding-x, 16px);
  background-color: var(--wp-sidebar-background-color, #292c30);
  @apply h-full flex flex-col justify-between;
}

.hPage {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.logo {
  padding: var(--wp-sidebar-logo-padding, 28px);
  @apply flex justify-center items-center;
}

.navItems {
  @apply flex flex-col justify-center;
}

.navItem {
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}
