.root {
  color: var(--wp-sidebar-color, var(--wp-theme-color-grey-60));
  transition: var(--wp-sidebar-item-transition, all 0.2s ease-in-out);
  @apply relative py-5 text-center;
}

.clickable {
  @apply cursor-pointer;
}

.selected {
}

.root:hover,
.selected:not(:hover) {
  color: var(--wp-sidebar-color-hover, var(--wp-theme-color-primary-contrast));
  background-color: var(
    --wp-sidebar-background-color-hover,
    var(--wp-theme-color-grey-70)
  );
}

.root:hover::before,
.selected:not(:hover)::before {
  content: "";
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 3px;
  background-color: var(
    --wp-sidebar-decoration-color,
    var(--wp-theme-color-primary)
  );
  @apply absolute;
}

.root svg {
  @apply mx-auto;
}
