.root {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.alignLeft {
  justify-content: flex-start;
}

.alignRight {
  justify-content: flex-end;
}

.alignCenter {
  justify-content: center;
}
