.root {
  aspect-ratio: 1;
  height: fit-content;
  color: currentColor;
}
@media (min-width: 1024px) {
  .root {
    display: none;
  }
}

.dark {
  background-color: var(--wp-sidebar-bg-color-dark, #292c30);
}

.light {
  background-color: var(--wp-sidebar-bg-color-light, #f1f1f1);
}

.icon {
  aspect-ratio: 1;
  width: 14px;
  height: 14px;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
