.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--wp-sidebar-width, 160px);
  padding-top: var(--wp-sidebar-padding-x, 16px);
  padding-bottom: var(--wp-sidebar-padding-x, 16px);
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

@media not all and (min-width: 1024px) {
  .root {
    pointer-events: auto;
    height: 100%;
    transform: translate3d(100%, 0px, 0px);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    width: 100%;
  }

  .root[data-open] {
    transform: translate3d(0px, 0px, 0px);
  }
}

.dark {
  background-color: var(--wp-sidebar-bg-color-dark, #292c30);
}

.light {
  background-color: var(--wp-sidebar-bg-color-light, #f1f1f1);
}

.hPage {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

.logo {
  padding: var(--wp-sidebar-logo-padding, 28px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navItem {
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}
