.label {
  padding: var(--wp-spacing-4);
  text-align: center;
  color: var(--wp-theme-color-grey-60);
}

.label.selected,
.label:hover {
  font-weight: var(
    --wp-sidebar-item-active-w,
    var(--wp-theme-font-weight-bold)
  );
}

.divider {
  border-bottom: 1px solid var(--wp-theme-color-paper);
}
