.root {
  text-align: center;
  transition: var(--wp-sidebar-item-transition, all 0.2s ease-in-out);
  position: relative;
}

.dark {
  color: var(--wp-sidebar-color, var(--wp-theme-color-grey-60));
}

.light {
  color: var(--wp-sidebar-color, var(--wp-theme-color-grey-90));
}

.clickable {
  cursor: pointer;
}

.selected {
}

.root:hover,
.selected:not(:hover) {
}

.root:hover::before,
.selected:not(:hover)::before {
  content: "";
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: 3px;
}

.root svg {
  margin-left: auto;
  margin-right: auto;
}

.dark:hover,
.selected:not(:hover) {
  background-color: var(
    --wp-sidebar-background-color-hover,
    var(--wp-theme-color-grey-70)
  );
}

.dark:hover::before,
.selected:not(:hover)::before {
  background-color: var(
    --wp-sidebar-decoration-color,
    var(--wp-theme-color-primary)
  );
}

.light:hover,
.selected:not(:hover) {
  background-color: var(
    --wp-sidebar-background-color-hover-light,
    var(--wp-theme-color-grey-20)
  );
}

.light:hover::before,
.selected:not(:hover)::before {
  background-color: var(
    --wp-sidebar-decoration-color-light,
    var(--wp-theme-color-primary)
  );
}

.light:hover .label,
.selected .label {
  font-weight: var(
    --wp-sidebar-item-active-w,
    var(--wp-theme-font-weight-bold)
  );
}

.subitems {
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-3);
}
