.root {
  border: 1px solid var(--wp-theme-color-grey-20);
  border-radius: var(--wp-theme-rounding);
  padding: var(--wp-spacing-4);
}

.headLabel {
}

.content {
  padding-top: var(--wp-spacing-4);
}
