.root {
  position: relative;
  display: inline-block;
}

.control {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--wp-spacing-3);
}

.startIcon {
  color: var(--wp-theme-color-grey-50);
}

.dropIcon {
  color: var(--wp-theme-color-grey-50);
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.open .dropIcon {
  transform: rotate(180deg);
}

.panel {
  visibility: hidden;
  position: absolute;
  z-index: 50;
  opacity: 0;
  transform-origin: top;
  --wp-scale-x: 0.95;
  --wp-scale-y: 0.95;
  --wp-skew-x: 0;
  --wp-skew-y: 0;
  transform: translate(var(--wp-translate-x), var(--wp-translate-y))
    rotate(var(--wp-rotate)) skew(var(--wp-skew-x)) skewY(var(--wp-skew-y))
    scaleX(var(--wp-scale-x)) scaleY(var(--wp-scale-y));
  transition-property: color, background-color, border-color, fill, stroke,
    opacity, box-shadow, transform, filter, -webkit-text-decoration-color,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.panelBottomRight {
  right: 0;
}

.panelBottomLeft {
  left: 0;
}

.open .panel {
  visibility: visible;
  opacity: 1;
}

.panelMaxH {
  max-height: var(--max-height);
  overflow-y: auto;
}
