.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--wp-header-padding-top, 16px);
  padding-bottom: var(--wp-header-padding-bottom, 16px);
  border-bottom-width: var(--wp-header-border-width, 4px);
  border-bottom-style: solid;
  border-bottom-color: var(--wp-header-border-color, --wp-theme-color-black);
}

.central {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  width: 30%;
  padding-left: var(--wp-header-padding-right, 24px);
}

.right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--wp-spacing-5);
  padding-right: var(--wp-header-padding-right, 24px);
}

.menu {
  margin-top: var(--wp-spacing-3);
}
