:root {
  --wp-theme-color-primary: #5a8acb;
  --wp-theme-color-primary-dark: #1d55a3;
  --wp-theme-color-primary-light: #b3cdf1;
  --wp-theme-color-primary-contrast: #ffffff;
  --wp-theme-color-primary-focus: #ffffff;
  --wp-theme-color-light: #f1f1f1;
  --wp-theme-color-light-contrast: #000000;
  --wp-theme-color-light-focus: #f1f1f1;
  --wp-theme-color-transparent: rgba(0, 0, 0, 0);
  --wp-theme-color-transparent-contrast: #000000;
  --wp-theme-color-transparent-focus: rgba(0, 0, 0, 0);
  --wp-theme-color-white: #ffffff;
  --wp-theme-color-black: #000000;
  --wp-theme-color-paper: #ffffff;
  --wp-theme-color-dark: #000000;
  --wp-theme-color-semiTransparent: rgba(0, 0, 0, 0.5);

  --wp-theme-color-info: #5a8acb;
  --wp-theme-color-info-dark: #1d55a3;
  --wp-theme-color-info-light: #b3cdf1;
  --wp-theme-color-info-contrast: #ffffff;
  --wp-theme-color-info-focus: #ffffff;

  --wp-theme-color-success: #729b57;
  --wp-theme-color-success-dark: #3b671f;
  --wp-theme-color-success-light: #c6dfb6;
  --wp-theme-color-success-contrast: #ffffff;
  --wp-theme-color-success-focus: #ffffff;

  --wp-theme-color-warning: #dec454;
  --wp-theme-color-warning-dark: #9b8215;
  --wp-theme-color-warning-light: #fff0af;
  --wp-theme-color-warning-contrast: #ffffff;
  --wp-theme-color-warning-focus: #ffffff;

  --wp-theme-color-error: #d1593e;
  --wp-theme-color-error-dark: #8b2007;
  --wp-theme-color-error-light: #ffab97;
  --wp-theme-color-error-contrast: #ffffff;
  --wp-theme-color-error-focus: #ffffff;

  --wp-theme-alpha-factor: 0.1;
  --wp-theme-color-actions: #6b6b6b;
  --wp-theme-color-grey-10: #f1f1f1;
  --wp-theme-color-grey-20: #ebebeb;
  --wp-theme-color-grey-30: #cccccc;
  --wp-theme-color-grey-40: #aaaaaa;
  --wp-theme-color-grey-50: #949597;
  --wp-theme-color-grey-60: #888888;
  --wp-theme-color-grey-70: #3e4145;
  --wp-theme-color-grey-80: #292c30;
  --wp-theme-color-grey-90: #16191c;
  --wp-theme-color-grey-10-a: rgb(241, 241, 241, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-20-a: rgb(235, 235, 235, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-30-a: rgb(204, 204, 204, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-40-a: rgb(170, 170, 170, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-50-a: rgb(148, 149, 151, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-60-a: rgb(136, 136, 136, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-70-a: rgb(62, 65, 69, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-80-a: rgb(41, 44, 48, var(--wp-theme-alpha-factor));
  --wp-theme-color-grey-90-a: rgb(22, 25, 28, var(--wp-theme-alpha-factor));
  --wp-theme-color-skeleton: rgba(0, 0, 0, 0.11);
  --wp-theme-color-bg-transparent: rgba(0, 0, 0, 0);
  --wp-theme-color-bg-opaque: rgba(0, 0, 0, 0.05);
  --wp-theme-shadow-modal: rgba(0, 0, 0, 0.5);
  --wp-theme-rounding: 0;

  --wp-theme-text-h1-s: 2.5rem;
  --wp-theme-text-h1-h: 3rem;
  --wp-theme-text-h2-s: 2rem;
  --wp-theme-text-h2-h: 2.5rem;
  --wp-theme-text-h3-s: 1.5rem;
  --wp-theme-text-h3-h: 2rem;
  --wp-theme-text-h4-s: 1.25rem;
  --wp-theme-text-h4-h: 1.675rem;
  --wp-theme-text-h5-s: 1rem;
  --wp-theme-text-h5-h: 1.25rem;
  --wp-theme-text-h6-s: 0.875rem;
  --wp-theme-text-h6-h: 1rem;
  --wp-theme-text-body1-s: 1rem;
  --wp-theme-text-body1-h: 1.125rem;
  --wp-theme-text-body2-s: 0.875rem;
  --wp-theme-text-body2-h: 1rem;
  --wp-theme-text-body3-s: 0.75rem;
  --wp-theme-text-body3-h: 0.875rem;
  --wp-theme-text-caption1-s: 1rem;
  --wp-theme-text-caption1-h: 1.125rem;
  --wp-theme-text-caption2-s: 0.875rem;
  --wp-theme-text-caption2-h: 1rem;
  --wp-theme-text-caption3-s: 0.75rem;
  --wp-theme-text-caption3-h: 0.875rem;
  --wp-theme-text-label1-s: 1rem;
  --wp-theme-text-label1-h: 1.125rem;
  --wp-theme-text-label2-s: 0.875rem;
  --wp-theme-text-label2-h: 1rem;
  --wp-theme-text-label3-s: 0.75rem;
  --wp-theme-text-label3-h: 0.875rem;

  --wp-theme-text-color-default: #000000;
  --wp-theme-text-color-light: #6b6b6b;
  --wp-theme-input-disabled-c: #f7f7f7;
  --wp-theme-input-border-c: #cccccc;

  --wp-container-width: 80rem;
  --wp-container-padding: 2rem;
  --wp-button-border-width: 1px;

  --wp-form-label-weight: 500;

  --wp-input-outlined-focus-shadow-c: rgba(6, 212, 138, 0.2);
  --wp-input-outlined-error-shadow-c: rgba(255, 59, 48, 0.2);

  --wp-overlay-color: rgba(0, 0, 0, 0.5);

  --wp-theme-font-family-default: "Prompt", sans-serif;
  --wp-theme-font-weight-default: 400;
  --wp-theme-font-weight-light: 300;
  --wp-theme-font-weight-lighter: 200;
  --wp-theme-font-weight-lightest: 100;
  --wp-theme-font-weight-bolder: 500;
  --wp-theme-font-weight-bold: 600;
  --wp-theme-font-weight-boldest: 700;

  --wp-margin-unit: 4px;
  --wp-spacing-0-5: calc(var(--wp-margin-unit) * 0.5);
  --wp-spacing-1: var(--wp-margin-unit);
  --wp-spacing-1-5: calc(var(--wp-margin-unit) * 1.5);
  --wp-spacing-2: calc(var(--wp-margin-unit) * 2);
  --wp-spacing-2-5: calc(var(--wp-margin-unit) * 2.5);
  --wp-spacing-3: calc(var(--wp-margin-unit) * 3);
  --wp-spacing-4: calc(var(--wp-margin-unit) * 4);
  --wp-spacing-5: calc(var(--wp-margin-unit) * 5);
  --wp-spacing-6: calc(var(--wp-margin-unit) * 6);
  --wp-spacing-7: calc(var(--wp-margin-unit) * 7);
  --wp-spacing-8: calc(var(--wp-margin-unit) * 8);
  --wp-spacing-9: calc(var(--wp-margin-unit) * 9);
  --wp-spacing-10: calc(var(--wp-margin-unit) * 10);
  --wp-spacing-11: calc(var(--wp-margin-unit) * 11);
  --wp-spacing-12: calc(var(--wp-margin-unit) * 12);

  --wp-toast-br: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: var(--wp-theme-color-grey-20);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: var(--wp-theme-color-grey-60);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--wp-theme-color-grey-80);
}
