.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rootGutters {
  padding: var(--wp-spacing-2);
}

.dropControl {
  width: 100%;
  padding: var(--wp-drop-panel-padding, var(--wp-spacing-12));
}

.subtitle {
  margin-top: var(--wp-spacing-4);
}

.selectCta {
  margin-bottom: var(--wp-spacing-4);
}
