.root {
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--wp-margin-unit);
}

.headStart {
  width: var(--wp-spacing-5);
}

.headTitle {
  flex: 1;
  text-align: center;
}

.headClose {
  width: var(--wp-spacing-5);
}

.close {
  background: transparent;
  border: none;
  cursor: pointer;
}

.body {
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-2);
}

.actions-left {
  justify-content: flex-start;
}

.actions-center {
  justify-content: center;
}

.actions-right {
  justify-content: flex-end;
}
