.root {
  display: flex;
  align-items: center;
  gap: 0.5em 0.5em;
  cursor: pointer;
  box-sizing: border-box;
}

.disabled {
  opacity: var(--wp-disabled-opacity, 0.5);
  cursor: not-allowed;
}

.input {
  appearance: none;
  background-color: var(--wp-theme-color-paper);
  margin: 0;
  font: inherit;
  color: var(--color);
  border: 0.15em solid var(--color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
  cursor: pointer;
}

.disabled .input {
  cursor: not-allowed;
}

.input:checked::before {
  transform: scale(1);
}

.input::before {
  content: "";
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--wp-theme-color-primary);
  background-color: CanvasText;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.small .input {
  width: 0.85em;
  height: 0.85em;
}

.small .input::before {
  width: 0.5em;
  height: 0.5em;
}

.medium .input {
  width: 1em;
  height: 1em;
}

.medium .input::before {
  width: 0.65em;
  height: 0.65em;
}

.large .input {
  width: 1.15em;
  height: 1.15em;
}

.large .input::before {
  width: 0.8em;
  height: 0.8em;
}

.label {
  margin-left: var(--wp-spacing-2);
  margin-right: var(--wp-spacing-2);
}
