.root {
  display: flex;
  flex-direction: column;
  gap: var(--wp-spacing-2);
}

.handle {
  color: var(--wp-theme-color-actions);
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-2);
  padding: var(--wp-spacing-2);
  border: 1px solid var(--wp-theme-border-color);
  border-radius: var(--wp-theme-rounding);
}

.content {
  padding: var(--wp-spacing-2);
}

.addActionRow {
  display: flex;
  justify-content: center;
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}
