.root {
  position: relative;
  box-sizing: border-box;
}

.fill {
  width: 100%;
  height: 100%;
}

.root::after {
  height: 0;
  content: "";
  display: block;
  padding-bottom: var(--ratio);
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
