.root {
}

.root :global(.tox-tinymce) {
  border-radius: var(--wp-theme-rounding);
  border: 1px solid var(--wp-theme-input-border-c);
  font-size: var(--wp-input-font-size-md, 14px);
}

.focus {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}
