.root {
  position: relative;
  display: inline-block;
}

.fullWidth {
  width: 100%;
}

.fixedWith {
  width: var(--w);
}

.items {
  display: block;
  position: absolute;
  top: 100%;
  overflow: hidden;
  background-color: var(--wp-theme-color-paper);
  border-radius: var(--wp-theme-rounding);
  z-index: var(--panel-z);
}

.itemsAlign-start {
  left: 0;
}

.itemsAlign-end {
  right: 0;
}

.itemsSize-sm {
  width: var(--wp-drop-menu-sm, 60px);
}

.itemsSize-md {
  width: var(--wp-drop-menu-md, 100px);
}

.itemsSize-lg {
  width: var(--wp-drop-menu-lg, 140px);
}

.itemsSize-auto {
}

.itemsFixed {
  width: var(--w);
}

.item {
  border: 1px solid var(--wp-theme-color-grey-20);
}

.item:not(:last-child) {
  border-bottom: none;
}
