.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background-color: var(--wp-overlay-color, rgba(0, 0, 0, 0.5));
  transition: all 450ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.overlayOpen {
  opacity: 1;
  z-index: 99999999;
}

.modal {
  position: fixed;
  background-color: var(--wp-theme-color-paper);
  border-radius: var(--wp-modal-rounding, --wp-theme-rounding, 2px);
  box-shadow: var(--wp-modal-box-shadow,
      0 24px 38px 3px rgb(0 0 0 / 14%),
      0 9px 46px 8px rgb(0 0 0 / 12%),
      0 11px 15px -7px rgb(0 0 0 / 20%));
  opacity: 0;
  transform: scaleX(0) scaleY(0);
  transition: opacity 450ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-sizing: border-box;
  border-radius: var(--wp-theme-rounding);
}

.size-auto {}

.size-full,
.fullScreen {
  width: 100%;
  height: 100%;
}

.content {
  overflow: auto;
}

.contentFull {
  max-height: calc(100vh - calc(var(--p) * 2) - var(--wp-spacing-8));
}

.contentWithHeader {
  max-height: calc(100vh - calc(var(--p) * 2) - var(--wp-spacing-8) - 64px);
}

.contentFramed {
  max-width: calc(100vw - calc(var(--p) * 2) - var(--wp-spacing-8));
}

.size-xl {
  min-width: min(95%, 1800px);
}

.size-lg {
  min-width: min(90%, 1400px);
}

.size-md {
  min-width: min(70%, 800px);
}

.size-sm {
  min-width: min(50%, 600px);
}

.size-xs {
  min-width: min(30%, 360px);
}

.modalOpen {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.gutters {
  padding: var(--p);
}

.overflowHidden {
  overflow: hidden;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--wp-spacing-8);
}

.headNoMargin {
  margin-bottom: 0px;
}

.headStart {
  width: 30px;
}

.headTitle {
  flex: 1;
  text-align: center;
  margin-left: var(--wp-spacing-2);
  margin-right: var(--wp-spacing-2);
}

.headEnd {
  width: 30px;
}

.close {
  cursor: pointer;
  text-align: right;
}