.root {
  position: relative;
}

.fullWidth {
  width: 100%;
}

.timeIcon {
  cursor: pointer;
  width: 24px;
  text-align: right;
}

.closeIcon {
  cursor: pointer;
  width: 24px;
  text-align: right;
}

.panel {
  position: absolute;
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
  border-radius: var(--wp-theme-rounding);
  z-index: 1;
}

.panelTop {
  bottom: 48px;
  left: 0;
}

.panelBottom {
  top: 48px;
  left: 0;
}

.panelTracks {
  display: flex;
}

.panelTracksRange {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  max-height: var(--wp-theme-panel-max-height);
  overflow: auto;
}

.panelRangeCell {
  margin-top: 1px;
  margin-bottom: 1px;
}

.panelFooter {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}
