.root {
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.fullWidth {
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.input-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  min-height: calc(var(--wp-input-height-md, 34px) - 2px);
}

.input-md {
  font-size: var(--wp-input-font-size-md, 14px);
  min-height: calc(var(--wp-input-height-md, 38px) - 2px);
}

.input-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  min-height: calc(var(--wp-input-height-md, 44px) - 2px);
}

.outlined {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
  border-radius: var(--wp-theme-rounding);
}

.outlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  min-height: var(--wp-input-height-md, 34px);
  padding: var(--wp-input-padding-sm, 0 7px);
}

.outlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  min-height: var(--wp-input-height-md, 38px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  min-height: var(--wp-input-height-md, 44px);
  padding: var(--wp-input-padding-md, 0 8px);
}

.outlined-rounded-sm {
  border-radius: var(--wp-theme-rounding);
}

.outlined-rounded-md {
  border-radius: var(--wp-theme-rounding);
}

.outlined-rounded-lg {
  border-radius: var(--wp-theme-rounding);
}

.opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.outlined.opened {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.outlined.disabled {
  background-color: var(
    --wp-theme-input-disabled-c,
    var(--wp-theme-color-grey-10)
  );
}

.outlined.error {
  border-color: var(--wp-theme-color-error);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-error-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.underlined {
  background-color: var(--wp-theme-color-paper);
  border-bottom: 1px solid var(--wp-theme-input-border-c);
}

.underlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding-right: 14px;
}

.underlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding-right: 16px;
}

.underlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding-right: 16px;
}

.underlined.disabled {
  opacity: var(--wp-theme-input-disabled-opacity, 0.5);
}

.underlined.opened:not(.outlineNone):not(.error) {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-underlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.input-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  min-height: calc(var(--wp-input-height-md, 34px) - 2px);
}

.input-md {
  font-size: var(--wp-input-font-size-md, 14px);
  min-height: calc(var(--wp-input-height-md, 38px) - 2px);
}

.input-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  min-height: calc(var(--wp-input-height-md, 44px) - 2px);
}

.arrowContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 8px;
  display: flex;
  align-items: center;
}

.arrowIcon {
  transition: transform 0.3s ease;
}

.rotateIcon {
  transform: rotate(90deg);
}

.panel {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  overflow: auto;
  z-index: var(--wp-select-z, 5);
  border-bottom-left-radius: var(--wp-theme-rounding);
  border-bottom-right-radius: var(--wp-theme-rounding);
}

.panelMaxH {
  max-height: var(--max-h);
}

.panel-outlined {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
  border-top: none;
}

.panel-outlined-rounded-sm {
  border-radius: 0 0 var(--wp-theme-rounding) var(--wp-theme-rounding);
}

.panel-outlined-rounded-md {
  border-radius: 0 0 var(--wp-theme-rounding) var(--wp-theme-rounding);
}

.panel-outlined-rounded-lg {
  border-radius: 0 0 var(--wp-theme-rounding) var(--wp-theme-rounding);
}

.disabled,
.disabled .input,
.disabled .arrowIcon {
  cursor: auto;
}

.startAdornment {
  display: flex;
  align-items: center;
  margin-right: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}

.endAdornment {
  display: flex;
  align-items: center;
  margin-left: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}
