.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 50%;
  left: calc(100% + 30px);
  transform: translateY(-50%);
  padding: 10px;
  background: var(--wp-theme-color-paper);
  border-radius: 10%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.toolbarButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbarButtonPrimary {
  background-color: var(--wp-theme-color-primary);
  color: var(--wp-theme-color-primary-contrast);
}
