.root {
  display: flex;
  flex-direction: column;
  gap: var(--wp-spacing-2);
}

.item {
}

.handleContainerHorizontal {
  display: flex;
  justify-content: space-between;
}

.handleTop {
  color: var(--wp-theme-color-action);
  display: flex;
  justify-content: center;
  padding-top: var(--wp-spacing-2);
}

.handleBottom {
  color: var(--wp-theme-color-action);
  display: flex;
  justify-content: center;
  padding-bottom: var(--wp-spacing-2);
}

.handleLeft {
  color: var(--wp-theme-color-action);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--wp-spacing-2);
}

.handleRight {
  color: var(--wp-theme-color-action);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: var(--wp-spacing-2);
}

.content {
  padding: var(--wp-spacing-2);
}

.contentHorizontal {
  flex: 1;
}

.addActionRow {
  display: flex;
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}

.addActionRow-left {
  justify-content: flex-start;
}
.addActionRow-center {
  justify-content: center;
}
.addActionRow-right {
  justify-content: flex-end;
}
