.panel {
  padding: var(--wp-spacing-2) 0;
}

.item {
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
  padding: var(--wp-spacing-1) var(--wp-spacing-3) var(--wp-spacing-1)
    var(--wp-spacing-2);
}

.item:hover {
  background-color: var(--wp-theme-color-grey-10);
}

.checked {
}

.unchecked {
}

.content {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-3);
}

.checked .icon {
  opacity: 1;
}

.unchecked .icon {
  opacity: 0.2;
}

.icon {
}

.text {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  opacity: 0.6;
}

.checked .text {
  opacity: 1;
}
