.root {
  display: flex;
  flex-wrap: wrap;
  gap: var(--wp-spacing-4);
  margin-top: var(--wp-spacing-2);
  margin-bottom: var(--wp-spacing-2);
}

.horizontal {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.vertical {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--wp-spacing-2);
}

.color {
  width: var(--wp-spacing-4);
  height: var(--wp-spacing-4);
  background-color: var(--color);
}
