.root {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

.chartStart {
  justify-content: flex-start;
}

.chartEnd {
  justify-content: flex-end;
}
