.root {
  padding: var(--wp-spacing-3) var(--wp-spacing-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--wp-color-separator, var(--wp-theme-color-grey-10));
  border-radius: var(--wp-theme-rounding);
}

.info {
  display: flex;
  align-items: center;
}

.icon {
  width: var(--wp-file-block-icon-w, 60px);
}

.subtitle {
  color: var(--wp-theme-text-color-light);
  margin-top: var(--wp-spacing-1);
}

.block {
  margin-left: var(--wp-spacing-4);
  margin-right: var(--wp-spacing-4);
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-1);
}

.action {
  color: var(--wp-theme-color-actions);
}
