.root {
}

.item {
  display: flex;
  align-items: center;
  padding-top: var(--wp-spacing-3);
  padding-bottom: var(--wp-spacing-3);
  cursor: pointer;
}

.arrow {
  margin-left: var(--wp-spacing-3);
  margin-right: var(--wp-spacing-3);
  transition: transform 0.5s ease-out;
  transform: rotate(0deg);
}

.expanded .arrow {
  transform: rotate(90deg);
}

.number {
  margin-left: var(--wp-spacing-4);
  height: 32px;
  min-width: 32px;
  border-radius: 16px;
  background-color: var(--wp-theme-color-grey-20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.expanded {
}

.subitems {
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.subitems {
  max-height: 0;
}

.expanded .subitems {
  max-height: 500vh;
}

.subitem {
  padding: var(--wp-spacing-3) var(--wp-spacing-3) var(--wp-spacing-3)
    var(--wp-spacing-10);
  cursor: pointer;
}
