.root {
  position: relative;
  flex-shrink: 0;
  display: inline-block;

  overflow: hidden;
  border-radius: 50%;
}

.small {
  width: 30px;
  height: 30px;
}

.medium {
  width: 45px;
  height: 45px;
}

.large {
  width: 60px;
  height: 60px;
}

.outlined {
  border: 1px solid var(--wp-theme-input-border-c);
  color: var(--text-color);
}

.filled {
  background: var(--bg-color);
  color: var(--text-color);
}

.label {
  display: flex;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: 50%;
  font-weight: 600;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
