.panel {
  padding: var(--wp-spacing-3) var(--wp-spacing-2);
}

.select {
  margin-bottom: var(--wp-spacing-2);
}

.item:hover {
}

.searchButton {
  margin-top: var(--wp-spacing-2);
}

.clear {
  cursor: pointer;
}
