.root {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  border-radius: var(--wp-theme-rounding);
  box-sizing: border-box;
}

.filled {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.outlined {
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.light {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.icon {
  display: block;
  stroke: currentColor;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}

.body {
  flex: 1;
}

.content {
  margin-top: var(--wp-spacing-1-5);
  display: block;
}

.coseBar {
  display: flex;
  align-items: center;
}

.close {
  cursor: pointer;
}
