.root {
  background-color: var(--wp-file-drop-bg, var(--wp-theme-color-grey-10));
  border-radius: var(--wp-file-drop-border-radius, 24px);
  border: 1px dashed
    var(--wp-file-drop-border-color, var(--wp-theme-input-border-c));
  padding: var(--wp-spacing-4);
  transition:
    border,
    background-color 0.3s ease-in-out;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fullWidth {
  display: flex;
}

.dragging {
  border: 1px dashed var(--wp-theme-color-grey-90);
  background-color: var(
    --wp-file-drop-bg-dragging,
    var(--wp-theme-color-grey-20)
  );
}

.placeholder {
  cursor: pointer;
}

.placeholderHidden {
  display: none;
}

.filesList {
  padding: 0;
  margin: 0;
  margin-top: var(--wp-spacing-4);
}

.file {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-2);
  margin-top: var(--wp-spacing-4);
}

.fileRemoveIcon {
  margin-left: var(--wp-spacing-4);
  cursor: pointer;
}

.cta {
  margin-top: var(--wp-spacing-12);
}
