.root {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: var(--wp-theme-rounding);
}

.filled {
  background-color: var(--wp-theme-color-light);
}

.filled:focus-visible {
  outline: var(--wp-input-outline, 2px solid var(--wp-theme-color-light-focus));
}

.filled-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding: var(--wp-input-padding-sm, 0 14px);
}

.filled-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.filled-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
}

.outlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding: var(--wp-input-padding-sm, 0 14px);
}

.outlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined-disabled {
  background-color: var(
    --wp-theme-input-disabled-c,
    var(--wp-theme-color-grey-10)
  );
}

.outlined:has(:focus) {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.outlined.error {
  border-color: var(--wp-theme-color-error);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-error-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.input {
  border: none;
  flex: 1;
}

.input::placeholder {
  color: var(--wp-input-placeholder-color, var(--wp-theme-color-grey-50));
}

.input:focus-visible {
  outline: none;
}

.input-filled {
  background-color: var(--wp-theme-color-light);
}

.inputDisabled {
  background-color: transparent;
}

.fullWidth {
  width: 100%;
}

.startAdornment {
  display: flex;
  align-items: center;
  margin-right: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}

.endAdornment {
  display: flex;
  align-items: center;
  margin-left: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}

.error {
}
