.root {
  display: flex;
  align-items: center;
  gap: 0.5em 0.5em;
  color: var(--radio-color);
}

.root:not(.disabled) {
  cursor: pointer;
}

.disabled {
  opacity: var(--wp-disabled-opacity, 0.5);
}

.input {
  appearance: none;
  background-color: var(--wp-theme-color-paper);
  margin: 0;
  font: inherit;
  color: var(--c);
  border: 0.15em solid var(--c);
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.root:not(.disabled) .input {
  cursor: pointer;
}

.input:checked::before {
  transform: scale(1);
}

.input::before {
  content: "";
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--c);
  background-color: CanvasText;
  clip-path: circle(50% at 50% 50%);
  transform-origin: center;
}

.small .input {
  width: 0.85em;
  height: 0.85em;
}

.small .input::before {
  width: 0.425em;
  height: 0.425em;
}

.medium .input {
  width: 1em;
  height: 1em;
}

.medium .input::before {
  width: 0.55em;
  height: 0.55em;
}

.large .input {
  width: 1.1em;
  height: 1.1em;
}

.large .input::before {
  width: 0.65em;
  height: 0.65em;
}

.label {
  margin-left: var(--wp-spacing-2);
  margin-right: var(--wp-spacing-2);
}
