.root {
  position: relative;
  display: inline-block;
  user-select: none;
  box-sizing: border-box;
}

.clickable {
  cursor: pointer;
}

.selectedicon {
  margin-right: var(--wp-spacing-2);
}

.fullWidth {
  width: 100%;
}

.outlined {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
  border-radius: var(--wp-theme-rounding);
}

.outlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding: var(--wp-input-padding-sm, 0 14px);
}

.outlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined.disabled {
  background-color: var(
    --wp-theme-input-disabled-c,
    var(--wp-theme-color-grey-10)
  );
}

.outlined.opened:not(.outlineNone):not(.error) {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.outlined-rounded-sm {
  border-radius: var(--wp-theme-rounding);
}

.outlined-rounded-md {
  border-radius: var(--wp-theme-rounding);
}

.outlined-rounded-lg {
  border-radius: var(--wp-theme-rounding);
}

.underlined {
  background-color: var(--wp-theme-color-paper);
  border-bottom: 1px solid var(--wp-theme-input-border-c);
}

.underlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding-right: 14px;
}

.underlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding-right: 16px;
}

.underlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding-right: 16px;
}

.underlined.disabled {
  opacity: var(--wp-theme-input-disabled-opacity, 0.5);
}

.underlined.opened:not(.outlineNone):not(.error) {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-underlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.opened {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.outlined.error {
  border-color: var(--wp-theme-color-error);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-error-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  padding-right: 12px;
  display: flex;
  align-items: center;
}

.placeholder {
  color: var(--wp-input-placeholder-color, var(--wp-theme-color-grey-50));
}

.filter {
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  align-items: center;
}

.filter:not(.disabled) {
  cursor: pointer;
}

.filter::placeholder {
  color: var(--wp-input-placeholder-color, var(--wp-theme-color-grey-50));
}

.input-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: calc(var(--wp-input-height-md, 34px) - 2px);
}

.input-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: calc(var(--wp-input-height-md, 38px) - 2px);
}

.input-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: calc(var(--wp-input-height-md, 44px) - 2px);
}

.clearIcon {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  cursor: pointer;
  /* color: var(--wp-theme-color-actions); */
}

.arrowIcon-underlined {
  right: 0;
}

.loader {
  margin-right: var(--wp-spacing-3);
}

.rotateIcon {
  transform: translateY(-50%) rotate(90deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: auto;
  z-index: var(--wp-select-z, 5);
  border-bottom-left-radius: var(--wp-theme-rounding);
  border-bottom-right-radius: var(--wp-theme-rounding);
}

.optionsMaxH {
  max-height: var(--max-h);
}

.options-outlined {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
  border-top: none;
  box-sizing: border-box;
  width: calc(100% + 2px);
  left: -1px;
}

.options-outlined-rounded-sm {
  border-radius: 0 0 var(--wp-theme-rounding) var(--wp-theme-rounding);
}

.options-outlined-rounded-md {
  border-radius: 0 0 var(--wp-theme-rounding) var(--wp-theme-rounding);
}

.options-outlined-rounded-lg {
  border-radius: 0 0 var(--wp-theme-rounding) var(--wp-theme-rounding);
}

.option {
  padding: var(--wp-spacing-2) var(--wp-spacing-4);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-2);
  position: relative;
}

.option:hover {
  background-color: var(--wp-select-option-hover, #f0f0f0);
}

.optionDisabled {
  opacity: var(--wp-select-option-disabled-opacity, 0.5);
  cursor: not-allowed;
  background-color: transparent;
}

.optionDisabled:hover {
  background-color: transparent;
}

.optionSelected {
  background-color: var(--wp-select-option-hover, #f0f0f0);
}

.optionSelected:hover {
  background-color: transparent;
}

.error {
}

.disabled,
.disabled .input,
.disabled .arrowIcon {
  cursor: not-allowed;
}

.emptyOptionsContent {
  padding: var(--wp-spacing-2) var(--wp-spacing-4);
}
