.gridTable {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.gridTable th,
.gridTable td {
  padding: 8px;
  position: relative;
}

.gridTable td {
  border: 1px dashed #e1e1e1;
  padding: 8px;
  position: relative;
}

/* .gridTable th {
  border-top: 0;
} */
.gridTable td:first-child,
.gridTable th:first-child {
  border: 0;
}

.gridTable tr:nth-child(1) td {
  border-top: 0;
}

.gridTable tr td:last-child {
  border-right: 0;
}

.gridTable th:nth-child(2),
.gridTable td:nth-child(2) {
  border-left: 0;
}
.gridTable th:last-child {
  border-right: 0;
}
.gridTable td {
  border-bottom: 0;
}

.gridCell {
  text-align: center;
}

.columnHead {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.rowHead {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  padding-top: 16px;
}

.cellCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cellRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
