.root {
  display: inline-flex;
  box-sizing: border-box;
}

.root input::-webkit-outer-spin-button,
.root input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.root input[type="number"] {
  -moz-appearance: textfield;
}

.customWidth {
  width: var(--w);
}

.filled {
  background-color: var(--wp-theme-color-light);
  border-radius: var(--wp-theme-rounding);
}

.filled:focus-visible {
  outline: var(--wp-input-outline, 2px solid var(--wp-theme-color-light-focus));
}

.filled-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding: var(--wp-input-padding-sm, 0 14px);
}

.filled-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.filled-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-input-border-c);
  border-radius: var(--wp-theme-rounding);
}

.outlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
  padding: var(--wp-input-padding-sm, 0 14px);
}

.outlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
  padding: var(--wp-input-padding-md, 0 16px);
}

.outlined-disabled {
  background-color: var(
    --wp-theme-input-disabled-c,
    var(--wp-theme-color-grey-10)
  );
}

.outlined:not(.outlineNone):not(.error):has(:focus) {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.outlined.error {
  border-color: var(--wp-theme-color-error);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-outlined-error-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.underlined {
  border-bottom: 1px solid var(--wp-theme-input-border-c);
}

.underlined-sm {
  font-size: var(--wp-input-font-size-sm, 14px);
  height: var(--wp-input-height-md, 34px);
}

.underlined-md {
  font-size: var(--wp-input-font-size-md, 14px);
  height: var(--wp-input-height-md, 38px);
}

.underlined-lg {
  font-size: var(--wp-input-font-size-md, 16px);
  height: var(--wp-input-height-md, 44px);
}

.underlined-disabled {
  opacity: var(--wp-theme-input-disabled-opacity, 0.5);
}

.underlined:not(.outlineNone):not(.error):has(:focus) {
  border-color: var(--wp-theme-color-primary);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-underlined-focus-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.underlined.error {
  border-color: var(--wp-theme-color-error);
  box-shadow:
    var(--wp-theme-color-paper, rgb(255, 255, 255)) 0px 0px 0px 0px,
    var(--wp-input-underlined-error-shadow-c) 0px 0px 0px
      var(--wp-input-focus-w, 3px),
    var(--wp-theme-color-dark, rgba(0, 0, 0, 0)) 0px 0px 0px 0px;
}

.input {
  width: 100%;
  border: none;
  flex: 1;
}

.input::placeholder {
  color: var(--wp-input-placeholder-color, var(--wp-theme-color-grey-50));
}

.input:focus-visible {
  outline: none;
}

.input-filled {
  background-color: var(--wp-theme-color-light);
}

.inputDisabled {
  background-color: transparent;
}

.fullWidth {
  width: 100%;
}

.startAdornment {
  display: flex;
  align-items: center;
  margin-right: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}

.endAdornment {
  display: flex;
  align-items: center;
  margin-left: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}

.numericArrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: var(--wp-spacing-2);
  color: var(--wp-theme-color-grey-60);
}

.arrowIncrement {
  cursor: pointer;
  margin-bottom: -2px;
}

.arrowDecrement {
  cursor: pointer;
  margin-top: -2px;
}

.error {
}
