.root {
  border-radius: var(--wp-tag-rounding, var(--wp-theme-rounding));
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  background-color: var(--bg);
  width: fit-content;
}

.small {
  padding: var(--wp-tag-padding-sm, 4px);
}
.medium {
  padding: var(--wp-tag-padding-md, 6px);
}
.large {
  padding: var(--wp-tag-padding-lg, 8px);
}

.closeIcon {
  margin-left: var(--wp-spacing-3);
  cursor: pointer;
  display: flex;
  align-items: center;
}
