.root {
  background-color: var(--wp-theme-color-paper);
  min-height: 100vh;
  max-height: 100vh;
}

.bg {
  background: var(--bg-image) no-repeat center;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-height: 100vh;
}

.content {
}

.col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.body {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.logoElement {
  display: flex;
  justify-content: center;
}
