.container {
  width: var(--size);
  height: var(--size);
}
.circle {
  border: var(--thickness) solid var(--color);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clickable {
  cursor: pointer;
}
