.root {
  width: 100%;
  background-color: var(--wp-theme-color-grey-20);
  overflow: hidden;
}

.small {
  height: var(--wp-spacing-8);
}

.small.paddingY {
  padding-top: var(--wp-spacing-1);
  padding-bottom: var(--wp-spacing-1);
}

.medium {
  height: var(--wp-spacing-10);
}

.medium.paddingY {
  padding-top: var(--wp-spacing-2);
  padding-bottom: var(--wp-spacing-2);
}

.large {
  height: var(--wp-spacing-12);
}

.large.paddingY {
  padding-top: var(--wp-spacing-3);
  padding-bottom: var(--wp-spacing-3);
}

.customHeight {
  height: var(--bar-h);
}

.bar {
  height: 100%;
  transition: width 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.barEmpty {
  width: 0%;
}

.barProgress {
  width: var(--progress);
}

.barFilled {
  background: var(--bar-color);
  color: var(--bar-color-contrast);
}

.barGradient {
  background: linear-gradient(
    270deg,
    var(--bar-color-dark) 0%,
    var(--bar-color) 100%
  );
  color: var(--bar-color-contrast);
}

.barIndeterminate {
  width: 100%;
  background: var(--bar-color);
  background-size: 200% 100%;
  color: var(--bar-color-contrast);
  animation: indeterminate 1.5s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminate {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
