.root {
}

.trigger {
  cursor: pointer;
  display: inline-block;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.anchor {
  position: fixed;
  left: 0px;
  top: 0px;
}

.anchorInner {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  min-width: max-content;
  will-change: transform;
}
