.root {
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerDisabled {
}

.header:not(.headerDisabled) {
  cursor: pointer;
}

.content {
  transition: max-height var(--s) ease-out;
}

.controlClosed {
  overflow: hidden;
  max-height: var(--ps);
}

.controlHeight {
  overflow: hidden;
  max-height: var(--h);
  transition: max-height var(--s) ease-out;
}

.icon {
  transition: transform var(--s) ease-out;
  transform: rotate(0deg);
  padding: var(--wp-spacing-2);
}

.iconExpanded {
  transform: rotate(180deg);
}
