.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: var(--wp-spacing-4);
  padding-bottom: var(--wp-spacing-4);
  min-height: var(--wp-spacing-12);
  margin-top: var(--wp-spacing-4);
  margin-bottom: var(--wp-spacing-4);
}

.bordered {
  border-bottom: 1px solid var(--wp-theme-color-grey-10);
}

.title {
  flex-grow: 1;
  text-align: center;
}

.control {
  flex-basis: 20%;
  flex-grow: 0;
  flex-shrink: 0;
}

.endControl {
  display: flex;
  justify-content: flex-end;
}
