.row {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
}

.gapY-0 {
  grid-column-gap: 0;
}

.gapY-1 {
  grid-column-gap: var(--wp-spacing-1);
}

.gapY-2 {
  grid-column-gap: var(--wp-spacing-2);
}

.gapY-3 {
  grid-column-gap: var(--wp-spacing-3);
}

.gapY-4 {
  grid-column-gap: var(--wp-spacing-4);
}

.gapY-5 {
  grid-column-gap: var(--wp-spacing-5);
}

.gapY-6 {
  grid-column-gap: var(--wp-spacing-6);
}

.gapY-7 {
  grid-column-gap: var(--wp-spacing-7);
}

.gapY-8 {
  grid-column-gap: var(--wp-spacing-8);
}

.gapY-9 {
  grid-column-gap: var(--wp-spacing-9);
}

.gapY-10 {
  grid-column-gap: var(--wp-spacing-10);
}

.gapX-0 {
  grid-row-gap: 0;
}

.gapX-1 {
  grid-row-gap: var(--wp-spacing-1);
}

.gapX-2 {
  grid-row-gap: var(--wp-spacing-2);
}

.gapX-3 {
  grid-row-gap: var(--wp-spacing-3);
}

.gapX-4 {
  grid-row-gap: var(--wp-spacing-4);
}

.gapX-5 {
  grid-row-gap: var(--wp-spacing-5);
}

.gapX-6 {
  grid-row-gap: var(--wp-spacing-6);
}

.gapX-7 {
  grid-row-gap: var(--wp-spacing-7);
}

.gapX-8 {
  grid-row-gap: var(--wp-spacing-8);
}

.gapX-9 {
  grid-row-gap: var(--wp-spacing-9);
}

.gapX-10 {
  grid-row-gap: var(--wp-spacing-10);
}

.hFull {
  height: 100%;
}
