.root {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.root input {
  opacity: 0;
  width: 0;
  height: 0;
  border: none;
}

.small {
  width: var(--wp-switch-width-small, 38px);
  height: var(--wp-switch-height-small, 18px);
}

.medium {
  width: var(--wp-switch-width-medium, 42px);
  height: var(--wp-switch-height-medium, 24px);
}

.large {
  width: var(--wp-switch-width-large, 54px);
  height: var(--wp-switch-height-large, 30px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  bottom: 3px;
  background-color: var(--wp-theme-color-paper);
  transition: 0.4s;
  border-radius: 50%;
}

.small .slider:before {
  height: calc(var(--wp-switch-height-small, 18px) - 8px);
  width: calc(var(--wp-switch-height-small, 18px) - 8px);
}

.medium .slider:before {
  height: calc(var(--wp-switch-height-medium, 24px) - 8px);
  width: calc(var(--wp-switch-height-medium, 24px) - 8px);
}

.large .slider:before {
  height: calc(var(--wp-switch-height-large, 30px) - 8px);
  width: calc(var(--wp-switch-height-large, 30px) - 8px);
}

.sliderUnchecked {
}

.sliderUnchecked:before {
  left: 3px;
}

.sliderChecked {
}

.sliderChecked:before {
  right: 3px;
}

.slider {
  background-color: var(--wp-theme-color-paper);
  border: 1px solid var(--wp-theme-color-grey-60);
}

.sliderUnchecked:before {
  background-color: var(--wp-theme-color-error);
}

.sliderChecked:before {
  background-color: var(--wp-theme-color-success);
}

.disabled .sliderUnchecked:before {
  background-color: var(--wp-theme-color-grey-10);
}

.disabled .sliderChecked:before {
  background-color: var(--wp-theme-color-grey-10);
}

.disabled .slider {
  border-color: var(--wp-theme-color-grey-30);
}
