.panel {
  padding: var(--wp-spacing-3) var(--wp-spacing-2);
}

.item:hover {
}

.searchButton {
  margin-top: var(--wp-spacing-1);
}

.clear {
  cursor: pointer;
}

.calendar {
  border: none;
}

.calendar :global(.react-calendar__viewContainer) {
  padding-left: 8px;
  padding-right: 8px;
}

.calendar :global(.react-calendar__navigation__label__labelText) {
  text-transform: capitalize;
}

.calendar :global(.react-calendar__navigation__label__labelText) {
  font-size: var(--wp-theme-text-body2-s);
}

.calendar :global(.react-calendar__navigation button:enabled:hover),
.calendar :global(.react-calendar__navigation button:enabled:focus) {
  background: var(--wp-calendar-hover-bg, var(--wp-theme-color-grey-10));
}

.calendar :global(.react-calendar__tile) {
  border-radius: var(--wp-theme-rounding);
  margin-top: 1px;
  margin-bottom: 1px;
}

.calendar :global(.react-calendar__tile:hover) {
  background: var(--wp-calendar-hover-bg, var(--wp-theme-color-grey-10));
}

.calendar :global(.react-calendar__tile--now) {
  background: var(--wp-calendar-now-bg, var(--wp-theme-color-primary-light));
}

.calendar :global(.react-calendar__tile--now:hover) {
  background: var(--wp-calendar-now-bg, var(--wp-theme-color-primary-light));
  opacity: 0.8;
}

.calendar :global(.react-calendar__month-view__days__day--weekend) {
  color: var(--wp-calendar-weekend-color, var(--wp-theme-color-grey-60));
}

.calendar :global(.react-calendar__tile--active) {
  background: var(
    --wp-calendar-selected-bg,
    var(--wp-theme-color-primary)
  ) !important;
  color: var(
    --wp-calendar-selected-color,
    var(--wp-theme-color-primary-contrast)
  );
}

.calendar :global(.react-calendar__tile--active:hover) {
  background: var(--wp-calendar-selected-bg, var(--wp-theme-color-primary));
  color: var(
    --wp-calendar-selected-color,
    var(--wp-theme-color-primary-contrast)
  );
  opacity: 0.8;
}
