.paginationRoot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--wp-spacing-2);
}

.paginationButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--wp-spacing-2);
  padding-top: var(--wp-spacing-2);
  padding-bottom: var(--wp-spacing-2);
}

.button {
  padding: 0;
}

.buttonDisabled {
  cursor: default;
}

.buttonInner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--wp-spacing-8);
  height: var(--wp-spacing-8);
}
