.root {
  max-width: var(--wp-container-width, 80rem);
  padding-left: var(--wp-container-padding, 2rem);
  padding-right: var(--wp-container-padding);
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.mt {
  margin-top: calc(var(--wp-margin-unit, 4px) * var(--mt));
}

.mb {
  margin-bottom: calc(var(--wp-margin-unit, 4px) * var(--mb));
}

.ml {
  margin-left: calc(var(--wp-margin-unit, 4px) * var(--ml));
}

.mr {
  margin-right: calc(var(--wp-margin-unit, 4px) * var(--mr));
}

.pt {
  padding-top: calc(var(--wp-margin-unit, 4px) * var(--pt));
}

.pb {
  padding-bottom: calc(var(--wp-margin-unit, 4px) * var(--pb));
}

.pl {
  padding-left: calc(var(--wp-margin-unit, 4px) * var(--pl));
}

.pr {
  padding-right: calc(var(--wp-margin-unit, 4px) * var(--pr));
}

.minHScreen {
  min-height: 100vh;
}
