.root {}

.bottom {
  display: flex;
  flex-direction: collumn;
  justify-content: flex-end;
}

.my {
  /* margin-top: var(--wp-spacing-3);
  margin-bottom: var(--wp-spacing-3); */
}

.label {
  min-height: 24px;
}

.inline {
  display: flex;
  align-items: center;
  gap: var(--wp-spacing-6);
}

.inlineBetween {
  justify-content: space-between;
}