.root {
  border-radius: var(--wp-theme-rounding);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: var(--wp-button-transition, all 0.2s ease-in-out);
  cursor: pointer;
  box-sizing: border-box;
}

.root:focus-visible {
  outline: none;
}

.rootHover:hover:not(.disabled) {
  opacity: var(--wp-button-hover-opacity, 0.6);
}

.filled-transparent:hover:not(.disabled) {
  background-color: var(--wp-theme-color-light);
}

.disabled {
  cursor: default;
  opacity: var(--wp-button-disabled-opacity, 0.5);
}

.spinner {
  margin-right: 8px;
}

.spinner-sm {
  height: 16px;
  width: 16px;
}
.spinner-md {
  height: 16px;
  width: 16px;
}
.spinner-lg {
  height: 18px;
  width: 18px;
}

.filled {
  border: none;
  background-color: var(--c);
  color: var(--cc);
  border: var(--wp-button-border-width, 1px) solid var(--c);
}

.outlined {
  background-color: transparent;
  color: var(--c);
  border: var(--wp-button-border-width, 1px) solid var(--c);
}

.outlined-light {
  color: var(--wp-theme-text-color-default);
  border-color: var(--wp-theme-input-border-c);
}

.size-sm {
  font-size: var(--wp-button-font-size-sm, 14px);
  height: var(--wp-button-height-sm, 34px);
  padding: var(--wp-button-padding-sm, 0 14px);
}

.size-md {
  font-size: var(--wp-button-font-size-md, 14px);
  height: var(--wp-button-height-md, 38px);
  padding: var(--wp-button-padding-md, 0 16px);
}

.size-lg {
  font-size: var(--wp-button-font-size-lg, 16px);
  height: var(--wp-button-height-lg, 44px);
  padding: var(--wp-button-padding-lg, 0 16px);
}

.iconOnly-sm {
  padding: 0;
  width: var(--wp-button-height-sm, 34px);
}

.iconOnly-md {
  padding: 0;
  width: var(--wp-button-height-md, 38px);
}

.iconOnly-lg {
  padding: 0;
  width: var(--wp-button-height-lg, 44px);
}

.rounded-sm {
  border-radius: var(--wp-button-radius-sm, 24px);
}

.rounded-md {
  border-radius: var(--wp-button-radius-md, 32px);
}

.rounded-lg {
  border-radius: var(--wp-button-radius-lg, 40px);
}

.fullWidth {
  width: 100%;
}

.fixedWith {
  width: var(--w);
}

.text {
  border: none;
  background-color: var(--wp-theme-color-bg-transparent, rgba(0, 0, 0, 0));
}

.text:hover:not(.disabled) {
  background-color: var(--wp-theme-color-bg-opaque, rgba(0, 0, 0, 0.05));
}
