.root {
  background-color: var(--wp-card-bg-color, var(--wp-theme-color-white, #fff));
  border-radius: var(--wp-card-border-radius, var(--wp-theme-rounding));
  transition: border 0.15s ease-in-out;
}

.shadow-1 {
  box-shadow: var(
    --wp-card-shadow-1,
    var(--wp-theme-shadow-1, 0px 0px 8px rgba(0, 0, 0, 0.04))
  );
}

.shadow-2 {
  box-shadow: var(
    --wp-card-shadow-2,
    var(--wp-theme-shadow-2, 4px 8px 16px rgba(0, 0, 0, 0.04))
  );
}

.shadow-3 {
  box-shadow: var(
    --wp-card-shadow-3,
    var(
      --wp-theme-shadow-3,
      0px 4px 8px rgba(0, 0, 0, 0.04),
      8px 8px 4px rgba(0, 0, 0, 0.04),
      8px 8px 16px rgba(0, 0, 0, 0.04),
      0px 8px 16px rgba(0, 0, 0, 0.04)
    )
  );
}

.gutters {
  padding: var(--wp-card-gutters, 1rem);
}

.mt {
  margin-top: calc(var(--wp-margin-unit, 4px) * var(--mt));
}

.mb {
  margin-bottom: calc(var(--wp-margin-unit, 4px) * var(--mb));
}

.ml {
  margin-left: calc(var(--wp-margin-unit, 4px) * var(--ml));
}

.mr {
  margin-right: calc(var(--wp-margin-unit, 4px) * var(--mr));
}

.pt {
  padding-top: calc(var(--wp-margin-unit, 4px) * var(--pt));
}

.pb {
  padding-bottom: calc(var(--wp-margin-unit, 4px) * var(--pb));
}

.pl {
  padding-left: calc(var(--wp-margin-unit, 4px) * var(--pl));
}

.pr {
  padding-right: calc(var(--wp-margin-unit, 4px) * var(--pr));
}

.focusX {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

.focusLeft-auto:hover,
.focusedLeft {
  border-left-color: var(--wp-theme-color-primary);
}

.focusRight-auto:hover,
.focusedRight {
  border-right-color: var(--wp-theme-color-primary);
}

.focusY {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.focusTop-auto:hover,
.focusedTop {
  border-top-color: var(--wp-theme-color-primary);
}

.focusBottom-auto:hover,
.focusedBottom {
  border-bottom-color: var(--wp-theme-color-primary);
}
