.mt {
  margin-top: calc(var(--wp-margin-unit, 4px) * var(--mt));
}

.mb {
  margin-bottom: calc(var(--wp-margin-unit, 4px) * var(--mb));
}

.ml {
  margin-left: calc(var(--wp-margin-unit, 4px) * var(--ml));
}

.mr {
  margin-right: calc(var(--wp-margin-unit, 4px) * var(--mr));
}

.pt {
  padding-top: calc(var(--wp-margin-unit, 4px) * var(--pt));
}

.pb {
  padding-bottom: calc(var(--wp-margin-unit, 4px) * var(--pb));
}

.pl {
  padding-left: calc(var(--wp-margin-unit, 4px) * var(--pl));
}

.pr {
  padding-right: calc(var(--wp-margin-unit, 4px) * var(--pr));
}

.gap {
  gap: calc(var(--wp-margin-unit, 4px) * var(--gap));
}

.primary {
  color: var(--wp-theme-color-primary);
}
.primary-contrast {
  color: var(--wp-theme-color-primary-contrast);
}
.secondary {
  color: var(--wp-theme-color-secondary);
}
.secondary-contrast {
  color: var(--wp-theme-color-secondary-contrast);
}
.light {
  color: var(--wp-theme-color-light);
}
.light-contrast {
  color: var(--wp-theme-color-light-contrast);
}
.info {
  color: var(--wp-theme-color-info);
}
.info-contrast {
  color: var(--wp-theme-color-info-contrast);
}
.success {
  color: var(--wp-theme-color-success);
}
.success-contrast {
  color: var(--wp-theme-color-success-contrast);
}
.warning {
  color: var(--wp-theme-color-warning);
}
.warning-contrast {
  color: var(--wp-theme-color-warning-contrast);
}
.warning {
  color: var(--wp-theme-color-warning);
}
.error-contrast {
  color: var(--wp-theme-color-error-contrast);
}

.bg-primary {
  background-color: var(--wp-theme-color-primary);
}
.bg-primary-contrast {
  background-color: var(--wp-theme-color-primary-contrast);
}
.bg-secondary {
  background-color: var(--wp-theme-color-secondary);
}
.bg-secondary-contrast {
  background-color: var(--wp-theme-color-secondary-contrast);
}
.bg-light {
  background-color: var(--wp-theme-color-light);
}
.bg-light-contrast {
  background-color: var(--wp-theme-color-light-contrast);
}
.bg-info {
  background-color: var(--wp-theme-color-info);
}
.bg-info-contrast {
  background-color: var(--wp-theme-color-info-contrast);
}
.bg-success {
  background-color: var(--wp-theme-color-success);
}
.bg-success-contrast {
  background-color: var(--wp-theme-color-success-contrast);
}
.bg-warning {
  background-color: var(--wp-theme-color-warning);
}
.bg-warning-contrast {
  background-color: var(--wp-theme-color-warning-contrast);
}
.bg-warning {
  background-color: var(--wp-theme-color-warning);
}
.bg-error-contrast {
  background-color: var(--wp-theme-color-error-contrast);
}

.bg-grey-10 {
  background-color: var(--wp-theme-color-grey-10);
}
.bg-grey-20 {
  background-color: var(--wp-theme-color-grey-20);
}
.bg-grey-30 {
  background-color: var(--wp-theme-color-grey-30);
}
.bg-grey-40 {
  background-color: var(--wp-theme-color-grey-40);
}
.bg-grey-50 {
  background-color: var(--wp-theme-color-grey-50);
}
.bg-grey-60 {
  background-color: var(--wp-theme-color-grey-60);
}
.bg-grey-70 {
  background-color: var(--wp-theme-color-grey-70);
}
.bg-grey-80 {
  background-color: var(--wp-theme-color-grey-80);
}
.bg-grey-90 {
  background-color: var(--wp-theme-color-grey-90);
}

.minHScreen {
  min-height: 100vh;
}

.flex {
  display: flex;
}

.inlineFlex {
  display: inline-flex;
}

.flexFill {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.cursorPointer {
  cursor: pointer;
}

.hidden {
  display: none;
}
