.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.control {
  cursor: pointer;
  color: var(--wp-theme-color-actions);
  opacity: 0.5;
}

.control.active {
  color: var(--wp-theme-color-primary);
  opacity: 1;
}
