.root {
  overflow: hidden;
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.vTop {
  justify-content: flex-start;
}

.vCenter {
  justify-content: center;
}

.vBottom {
  justify-content: flex-end;
}

.offsetX {
  margin-left: var(--offset-x);
}

.offsetY {
  margin-top: var(--offset-y);
}
